@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

$orange-theme: #fd7622;
$pitch-black: #000000;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 32px;
  background-color: black;
}

a {
  text-decoration: none;
  color: #fd7622;
  transition: scale 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

a:hover {
  scale: 1.05;
  color: #cc611f;
}

a:visited {
  text-decoration: none;
  color: #fd7622;
}

section {
  position: relative;
  width: 100%;
  min-height: 100svh;
  height: auto;
  overflow: hidden;
  background-color: black;
}

.loading-fade-leave-active {
  transition: all 0.8s ease;
}

.loading-fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
  backdrop-filter: blur(0);
  background: rgba(0, 0, 0, 0);
}